<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script type="text/javascript" src="/javascript/login.js"></script>
</head>

<body>

  <h1>The Movie Database</h1>
  <form class="loginForm" action="login" method="POST">

    <div class="loginForm__element" onchange="handleChangeLabel(this)">
      <input class="loginForm__input loginForm__input--first" type="email" name="email">
      <span class="loginForm__bar"></span>
      <label class="loginForm__label">username</label>
    </div>

    <div class="loginForm__element" onchange="handleChangeLabel(this)">
      <input class="loginForm__input" type="password" name="password">
      <span class="loginForm__bar"></span>
      <label class="loginForm__label">password</label>
    </div>

    <button class="loginForm__button" type="submit">Login</button>

    <p class="loginForm__register">Not registered? <a class="loginForm__register--link" ref="">Create an account</a></p>

  </form>
</body>

</html>
