<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script type="text/javascript" src="/javascript/loginRegister.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>

  <div class="loginRegister">

    <h1 class="loginRegister__h1">The Movie Database</h1>

    <form class="loginRegister__form form" action="login" method="POST">

      <div class="form__element" onchange="handleChangeLabel(this)">
        <input class="form__input form__input--first js-formInput" type="email" name="email">
        <span class="form__bar"></span>
        <label class="form__label js-formLabel"><i class="fas fa-user"></i>email</label>
      </div>

      <div class="form__element" onchange="handleChangeLabel(this)">
        <input class="form__input js-formInput" type="password" name="password">
        <span class="form__bar"></span>
        <label class="form__label js-formLabel"><i class="fas fa-unlock-alt"></i>password</label>
      </div>

      <button class="form__button" type="submit">Login</button>

      <p class="form__footer">Not registered? <a class="form__footer--link" href="http://localhost:8082/register">Create
          an account</a></p>

    </form>

  </div>

</body>

</html>