<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="register" method="POST">
      <input type="email" name="email" >
      <input type="password" name="password" >
      <button type="submit">Register</button>
    </form>
  </body>
</html>
