@import '_colors';
@import '_navbarFooter';

.search {
    background-color: $dark;
    display: flex;
    padding: 50px;
    padding-left: 200px;
    align-items: center;

    &__icon {
        color: $white;
        margin-right: 20px;
    }

    &__input {
        width: 100%;
        background-color: $dark;
        border: none;
        font-size: 20px;
        color: $white;
        padding: 10px;
        outline: none;
    }
}

.movies {
    display: inline-flex;
    flex-flow: row wrap;
    background-color: $dark;
    padding-top: 80px;

    .element {
        width: calc(100% * (1/5)) !important;
        height: auto;
        padding: 3px;
        position: relative;

        &__poster {
            width: 100%;
            height: 100%;
            border-radius: 5px; 
            transition: all 0.3s ease;
            opacity: 1;
        }

        &__inner {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            padding: 0 10px;
            text-align: center;
            transform: translate(-50%, -50%);
            opacity: 0;
            color: $white;
            font-size: 20px;

            .inner__name,
            .inner__year {
                margin: 10px;
            }

            .inner__rate{
                font-size: 15px;
                color: yellow;
            }
        }

        &:hover {
            .element__inner {
                opacity: 1;
            }

            .element__poster {
                opacity: 0.3;
            }
        }

        .favorite__button {
            width: 50px;
            height: 50px;
            border: none;
            background: transparent;
            outline: none;

            .favorite__icon {
                font-size: 22px;
                color: $white;
                cursor: pointer;
                transition: all 0.3s ease;
                
                &:hover {
                    color: red;
                }
            }
        }
    }
}

.activePage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: $dark;
    font-size: 20px;

    .activePage__link {
        color: $white;
        margin: 10px;
        text-decoration-line: none;
    }

    .activePage__link,
    .activePage__logo {
        transition: all 0.3s ease;
    }

    .activePage__link:hover,
    .activePage__icon:hover {
        color: $lightBlue;
    }

}


