@import '_colors';

.warpper {
    min-height: 100vh;
    overflow: auto;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $dark;
    padding: 10px;

    .navbar__logo {
        width: 100px;
        height: 100px;
        margin: 0 20px;
        cursor: pointer;
    }

    .navbar__group {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.2s ease;

        &--profile {
            margin-right: 40px;
        }

        .navbar__link {
            text-decoration-line: none;
            color: $white;
        }

        .navbar__icon {
            color: $white;
            font-size: 25px;
            margin-bottom: 10px;
        }

    }

    
}

.activePage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;

    .activePage__link{
        color: $dark;
        margin: 10px;
        text-decoration-line: none;
    }
}

.movies {
    display: inline-flex;
    flex-flow: row wrap;
    background-color: $dark;

    .element {
        width: 25%;
        height: auto;
        padding: 3px;

        .element__poster {
            width: 100%;
            height: 450px;  
            border-radius: 5px; 
        }
    }

}