@import '_colors';

.wholeBody {
    background-color: $lightGreen;
}   

.loginRegister__h1 {
    margin-top: 100px;
    text-align: center;
    color: $white;
}

.form {
    width: 100%;
    max-width: 350px;
    padding: 1em 2em 2em 2em;
    background-color: $white;; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .form__element {
        width: 100%;
        position: relative;
        padding: 20px 0;
        
        .form__input {
            width: 100%;
            border: 0;
            border-bottom: 1.3px solid $darkGrey;
            display: block;
            height: 40px;
            outline: none;
            font-size: 20px; 

            &--first {
                margin-top: 0;
            }

            &:focus ~ .form__label { 
                top: 0px;
                color: $green;
                font-size: 15px;
                
            }

            &:focus ~ .form__bar::before,
            &:focus ~ .form__bar::after {
                width: 50%;
            }
        }

        .form__bar {
            position: absolute;
            display: block;
            width: 100%;

            &:before , &:after {
                content: '';
                height: 3px; 
                width: 0;
                bottom: 0px; 
                position: absolute;
                background: $green; 
                transition: all 0.2s ease;
            }

            &:before {
                left: 50%;
            }

            &:after {
                right: 50%;
            }
        }

        .form__label {
            position: absolute;
            top: 25px;
            transition: all 0.2s ease;
            font-size: 18px;

            i {
                margin-right: 10px;
            }
        }
    }

    .form__button {
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        font-size: 20px;
        border-radius: 5px;
        border: none;
        color: $white;
        background-color: $green;
        transition: all 0.2s ease;

        &:hover {
            cursor: pointer;
            background-color: $lightGreen;
        }
    }

    .form__footer {
        text-align: center;
        margin-bottom: 0;

        &--link {
            color: $green;
            cursor: pointer;
            text-decoration: underline;
        }
    }

}
