@import '_colors';

.wrapper {
    height: 100vh;
    background-color: $dark;
}

.movie {
    display: flex;
    background-color: $dark;
    color: $white;

    &__poster {
        position:relative;
        display:inline-block;
        width: auto;

        &__img {
            width: 400px;
        }

        &::after {
            content:'';
            position:absolute;
            left:0; top:0;
            width:100%; 
            height:100%;
            display:inline-block;
            background: 
                linear-gradient(to left , rgba(8, 28, 36, 1), rgba(255, 0, 0, 0)), 
        }

    }
    
    .group {
        padding: 0;
        width: 100%;
        position:relative;
        display:inline-block;

        &__cover {
            
            img{
                width: 100%;
                height: 600px;
                opacity: 0.5;    
            }
    
            &::after {
                content:'';
                position:absolute;
                left:0; top:0;
                width:100%; 
                height:100%;
                display:inline-block;
                background: 
                    linear-gradient(to right , rgba(8, 28, 36, 1), rgba(255, 0, 0, 0));
            }
        }

        &__inner {
            position: absolute;
            top: 50%; left:50%;
            transform: translate(-50%, -50%);
            
            .element {
                display: inline-flex;
                align-items: center;

                &__year {
                    margin: 0 10px;
                }

                &__heading,
                &__year {
                    font-size: 25px;
                    font-weight: bold;
                }

                &__button {
                    width: 50px;
                    height: 50px;
                    border: none;
                    background: transparent;
                    outline: none;
        
                    .element__icon {
                        font-size: 20px;
                        color: red;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        
                        &:hover {
                            color: $white;
                        }
                    }
                }

            } 

            .rate{

                &__star{
                    color: yellow;
                }
            }
        }
        

    }
}

.wrapper__movie--mobile{
    display: none;
}


@media (min-width: 320px) and (max-width: 767px) {
    .movie {
        display: none;
    }

    .movieMobile {
        display: block;
        padding-top: 84px;
        color: white;
        height: 100vh;

        &__img {
            width: 100%;
            height: 100%;
            opacity: 0.3;
            background-color: $dark;

            &::after {
                background: none;
            }

            
        }

        &__inner {
            position: absolute;
            top: 50%; left:50%;
            transform: translate(-50%, -50%);
            width: 75%;

            .element {
                display: inline-flex;
                align-items: center;

                &__year {
                    margin: 0 10px;
                }

                &__heading,
                &__year {
                    font-size: 25px;
                    font-weight: bold;
                }

                &__button {
                    width: 50px;
                    height: 50px;
                    border: none;
                    background: transparent;
                    outline: none;
        
                    .element__icon {
                        font-size: 20px;
                        color: red;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        
                        &:hover {
                            color: $white;
                        }
                    }
                }

            } 

            .rate{
                
                &__star {
                    color: yellow;
                }

                .rating {
                    margin-left: 10px;
                    font-weight: bold;
                }
            }

            .inner__textBold{
                font-weight: bold;
            }
        }
        
    }
}