.warpper {
    min-height: 100vh;
    overflow: auto;
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: $dark;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: $dark;
    padding: 20px 200px;
    border: none;

    &__logo {
        width: 80px;
        height: 80px;
        cursor: pointer;
        fill: $lightBlue;
    }

    &__group {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        
        .group__element {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;

            .group__link {
                text-decoration-line: none;
                color: $white;

                &:hover ~ .group__icon{
                    color: $lightBlue;
                }
            }
    
            .group__icon {
                color: $white;
                font-size: 25px;
                margin-bottom: 10px;
                transition: all 0.2s ease;

                &:hover {
                    cursor: pointer;
                    color: $lightBlue;
                }
            }

        }

        .group__element--profile {
            margin-right: 40px;
        }
    }
}

.footer {
    background-image: linear-gradient(to bottom right, rgba(8, 28, 36, 1), rgba(13, 79, 105, 0.9)), url('../images/footer_img.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 400px;
    padding: 0 50px;

    &__group {
        display: flex;
        flex-direction: column;
        width: 300px;

        .footer__button{
            padding: 10px;
            border: 3px solid $lightBlue;
            background: transparent;
            border-radius: 5px;
            color: $lightBlue;
            font-size: 20px;
        }

        .footer__logo {
            width: 200px;
            height: 200px;
            fill: $lightBlue;
            text-align: end;
        }
    }

    &__copyRight {
        text-align: center;
        color: $white;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;

        span{
            color: $lightBlue;
            font-weight: bold;
        }
    }
}

