.warpper {
    min-height: 100vh;
    overflow: auto;
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: $dark;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: $dark;
    padding: 20px 200px;
    border: none;

    &__logo {
        width: 80px;
        height: 80px;
        cursor: pointer;
        fill: $lightBlue;
    }

    &__group {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        
        .group__element {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;

            .group__link {
                text-decoration-line: none;
                color: $white;
                font-size: 15px;
                
                &:hover ~ .group__icon{
                    color: $lightBlue;
                }
            }
    
            .group__icon {
                color: $white;
                font-size: 25px;
                margin-bottom: 10px;
                transition: all 0.2s ease;

                &:hover {
                    cursor: pointer;
                    color: $lightBlue;
                }
            }

        }

        .group__element--profile {
            margin-right: 40px;
        }
    }

    &__menu{
        display: none;
    }
}

.wrapper__menuMobile {
    display: none;
    
    .group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;

        &__link {
            color: $white;
            text-decoration: none;
            font-size: 20px;
        }

        &__icon {
            color: $white;
            font-size: 25px;
            padding: 10px;
        }

        &__icon,
        &__link {
            cursor: pointer;
        }
    }
}

.footer {
    background-image: linear-gradient(to bottom right, rgba(8, 28, 36, 1), rgba(13, 79, 105, 0.9)), url('../images/footer_img.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;    
    position: relative;
    justify-content: center;
    height: 400px;
    padding: 0 50px;

    &__logo {
        width: 150px;
        fill: $lightBlue;
        text-align: end;
    }

    &__copyRight {
        text-align: center;
        color: $white;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;

        span{
            color: $lightBlue;
            font-weight: bold;
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {

    .navbar {
        padding: 20px;

        &__group {
            display: none;
        }

        .menu {
            display: block;
            width: 35px;

            &__line {
                width: 100%;
                height: 2px;
                display: block;
                background-color: $white;
                transition: all 1s ease-in-out;
                -moz-transition: all 1s ease-in-out;
                -webkit-transition: all 1s ease-in-out;
                -o-transition: all 1s ease-in-out;

                &--middle {
                    margin: 10px 0;
                }
            }
            
            .is-activ--first {
                transform: translateY(12px) rotate(45deg);
            }

            .is-activ--midlle {
                opacity: 0;
            }

            .is-activ--last {
                transform: translateY(-12px) rotate(-45deg);
            }

            &:hover {
                cursor: pointer;    
            }
        }
    }

    .active-wrapper__menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 0;
        padding-bottom: 62px;

        transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;

    }
    
}