@import '_colors';
@import '_navbarFooter';

.profile {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    background-color: $dark;

    &__icon {
        font-size: 100px;
    }
}

.wrapper__heading {
    margin: 0;
    background-color: $dark;
    color: $white;
    padding: 50px;
    padding-left: 200px;
    font-size: 30px;
}

.favorites {
    display: flex;
    flex-flow: row wrap;
    background-color: $dark;
    color: $white;
    padding-bottom: 100px;
    
    .element {
        width: 100%;
        height: auto;
        position: relative;
        display: inline-flex;
        padding: 30px 10px;
        justify-content: center;

        &__poster {
            width: 300px;
            height: 100%;
            border-radius: 5px;
        }

        .group {
            padding: 30px 50px;
            padding-right: 0;
            width: 500px;

            .header {
                display: inline-flex;
                align-items: center;

                &__title {
                    font-size: 20px;
                }

                &__button {
                    width: 50px;
                    height: 50px;
                    border: none;
                    background: transparent;
                    outline: none;
        
                    .header__icon {
                        font-size: 20px;
                        color: red;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        
                        &:hover{
                            color: $white;
                        }

                    }

                }

            }

        }

    }

}

.movies {
    display: inline-flex;
    flex-flow: row wrap;
    background-color: $dark;
    padding: 80px 0;

    .element {
        width: calc(100% * (1/7));
        height: auto;
        padding: 3px;
        position: relative;

        &__poster {
            width: 100%;
            height: 100%;
            border-radius: 5px; 
            transition: all 0.3s ease;
            opacity: 1;
        }

        &__inner {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            padding: 0 10px;
            text-align: center;
            transform: translate(-50%, -50%);
            opacity: 0;
            color: $white;
            font-size: 20px;

            .inner__name,
            .inner__year {
                margin: 10px;
            }
        }

        &:hover {
            .element__inner {
                opacity: 1;
            }

            .element__poster {
                opacity: 0.3;
            }
        }

        .favorite__button {
            width: 50px;
            height: 50px;
            border: none;
            background: transparent;
            outline: none;

            .favorite__icon {
                font-size: 22px;
                color: red;
                cursor: pointer;
                transition: all 0.3s ease;
                
                &:hover {
                    color: $white;
                }
            }
        }
    }
}