@import '_colors';
@import '_navbarFooter';

.profile {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    background-color: $dark;

    &__icon {
        font-size: 100px;
    }
}

.wrapper__heading {
    margin: 0;
    background-color: $dark;
    color: $white;
    padding: 50px;
    padding-left: 200px;
    font-size: 30px;
}

.favorites {
    display: inline-flex;
    flex-flow: row wrap;
    background-color: $dark;
    color: $white;
    padding-bottom: 100px;
    .element {
        width: 100%;
        height: auto;
        position: relative;
        display: inline-flex;
        padding: 30px 10px;
        justify-content: center;

        &__poster {
            width: 300px;
            height: 100%;
            border-radius: 5px;
        }

        .group {
            padding: 30px 50px;
            padding-right: 0;
            width: 500px;

            &__title {
                margin: 0;
            }

            .header {
                display: inline-flex;
                align-items: center;

                &__button {
                    width: 50px;
                    height: 50px;
                    border: none;
                    background: transparent;
                    outline: none;
        
                    .header__icon {
                        font-size: 20px;
                        color: red;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        
                        &:hover{
                            color: $white;
                        }

                    }

                }

            }

        }

    }

}