.loginRegister {
  background-color: #17cc4b;
  min-height: 100vh;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.loginRegister .loginRegister__h1 {
  margin-top: 100px;
  text-align: center;
  color: #ffffff;
}

.form {
  width: 100%;
  max-width: 350px;
  padding: 1em 2em 2em 2em;
  background-color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form .form__element {
  width: 100%;
  position: relative;
  padding: 20px 0;
}

.form .form__element .form__input {
  width: 100%;
  border: 0;
  border-bottom: 1.3px solid #333333;
  display: block;
  height: 40px;
  outline: none;
  font-size: 20px;
}

.form .form__element .form__input--first {
  margin-top: 0;
}

.form .form__element .form__input:focus ~ .form__label {
  top: 0px;
  color: #08892d;
  font-size: 15px;
}

.form .form__element .form__input:focus ~ .form__bar::before,
.form .form__element .form__input:focus ~ .form__bar::after {
  width: 50%;
}

.form .form__element .form__bar {
  position: absolute;
  display: block;
  width: 100%;
}

.form .form__element .form__bar:before, .form .form__element .form__bar:after {
  content: '';
  height: 3px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #08892d;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form .form__element .form__bar:before {
  left: 50%;
}

.form .form__element .form__bar:after {
  right: 50%;
}

.form .form__element .form__label {
  position: absolute;
  top: 25px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
}

.form .form__element .form__label i {
  margin-right: 10px;
}

.form .form__button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: #08892d;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form .form__button:hover {
  cursor: pointer;
  background-color: #17cc4b;
}

.form .form__footer {
  text-align: center;
  margin-bottom: 0;
}

.form .form__footer--link {
  color: #08892d;
  cursor: pointer;
  text-decoration: underline;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica;
}

html,
body {
  min-height: 100vh;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.warpper {
  min-height: 100vh;
  overflow: auto;
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: #081c24;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #081c24;
  padding: 20px 60px;
  border: none;
}

.navbar__logo {
  width: 80px;
  height: 80px;
  cursor: pointer;
  fill: #0c80aee6;
}

.navbar__group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__group .group__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__group .group__element .group__link {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #ffffff;
}

.navbar__group .group__element .group__icon {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 10px;
}

.navbar__group .group__element--profile {
  margin-right: 40px;
}

.footer {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#081c24), to(rgba(13, 79, 105, 0.9))), url("../images/footer_img.jpg");
  background-image: linear-gradient(to bottom right, #081c24, rgba(13, 79, 105, 0.9)), url("../images/footer_img.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 400px;
  padding: 0 50px;
}

.footer__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.footer__group .footer__button {
  padding: 10px;
  border: 3px solid #0c80aee6;
  background: transparent;
  border-radius: 5px;
  color: #0c80aee6;
  font-size: 20px;
}

.footer__group .footer__logo {
  width: 200px;
  height: 200px;
  fill: #0c80aee6;
  text-align: end;
}

.footer__copyRight {
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
}

.footer__copyRight span {
  color: #0c80aee6;
  font-weight: bold;
}

.search {
  background-color: #081c24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  padding-left: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__icon {
  color: #ffffff;
  margin-right: 20px;
}

.search__input {
  width: 100%;
  background-color: #081c24;
  border: none;
  font-size: 20px;
  color: #ffffff;
  padding: 10px;
  outline: none;
}

.movies {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #081c24;
  padding-top: 80px;
}

.movies .element {
  width: calc(100% * (1/6));
  height: auto;
  padding: 3px;
  position: relative;
}

.movies .element__poster {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}

.movies .element__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 10px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  color: #ffffff;
}

.movies .element:hover .element__inner {
  opacity: 1;
}

.movies .element:hover .element__poster {
  opacity: 0.3;
}

.movies .element .favorite__button {
  width: 50px;
  height: 50px;
  border: none;
  background: transparent;
  outline: none;
}

.movies .element .favorite__button .favorite__icon {
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.movies .element .favorite__button .favorite__icon:hover {
  color: red;
}

.activePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  background-color: #081c24;
}

.activePage .activePage__link {
  color: #ffffff;
  margin: 10px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.activePage .activePage__link,
.activePage .activePage__logo {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.activePage .activePage__link:hover,
.activePage .activePage__icon:hover {
  color: #0c80aee6;
}

.warpper {
  min-height: 100vh;
  overflow: auto;
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: #081c24;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #081c24;
  padding: 20px 60px;
  border: none;
}

.navbar__logo {
  width: 80px;
  height: 80px;
  cursor: pointer;
  fill: #0c80aee6;
}

.navbar__group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__group .group__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__group .group__element .group__link {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #ffffff;
}

.navbar__group .group__element .group__icon {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 10px;
}

.navbar__group .group__element--profile {
  margin-right: 40px;
}

.footer {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#081c24), to(rgba(13, 79, 105, 0.9))), url("../images/footer_img.jpg");
  background-image: linear-gradient(to bottom right, #081c24, rgba(13, 79, 105, 0.9)), url("../images/footer_img.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 400px;
  padding: 0 50px;
}

.footer__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.footer__group .footer__button {
  padding: 10px;
  border: 3px solid #0c80aee6;
  background: transparent;
  border-radius: 5px;
  color: #0c80aee6;
  font-size: 20px;
}

.footer__group .footer__logo {
  width: 200px;
  height: 200px;
  fill: #0c80aee6;
  text-align: end;
}

.footer__copyRight {
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
}

.footer__copyRight span {
  color: #0c80aee6;
  font-weight: bold;
}

.profile {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #081c24;
}

.profile__icon {
  font-size: 100px;
}

.wrapper__heading {
  margin: 0;
  background-color: #081c24;
  color: #ffffff;
  padding: 50px;
  padding-left: 200px;
  font-size: 30px;
}

.favorites {
  background-color: #081c24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  padding: 50px 200px;
}

.favorites__poster {
  width: 250px;
  height: 100%;
  border-radius: 5px;
}

.favorites__group {
  padding: 70px 100px;
}

.favorites__group .favorites__title {
  margin: 0;
}

.favorites__group .favorites__year {
  margin-left: 20px;
}

.favorites__group .inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.favorites__group .favorite__button {
  width: 50px;
  height: 50px;
  border: none;
  background: transparent;
  outline: none;
}

.favorites__group .favorite__button .favorite__icon {
  font-size: 20px;
  color: red;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.favorites__group .favorite__button .favorite__icon:hover {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */